.version.check_in_update /* version checker */
{
	color: #00001C;
	background-color: #6F839D;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 824px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	margin-top: -1px;
}

#page_position_content
{
	margin-top: -1px;
	width: 0.01px;
}

#u10356
{
	z-index: 2;
	min-height: 1398px;
	border-color: #000000;
	background: #FFFFFF url("../images/tile_bg.jpg") repeat left top;
}

#u10356_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 962px;
	position: relative;
	left: -99px;
	padding-top: 62px;
	padding-bottom: 556px;
}

#u10393
{
	z-index: 19;
	width: 334px;
	height: 6px;
	border-style: solid;
	border-color: #DCDAD4;
	background-color: #505050;
	left: 413px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u10391-4
{
	z-index: 11;
	width: 259px;
	min-height: 69px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	letter-spacing: -1px;
	color: #46433E;
	font-size: 40px;
	text-align: center;
	font-family: playfair-display, serif;
	font-weight: 400;
	left: 450px;
	margin-top: 12px;
	position: relative;
}

#u10392-4
{
	z-index: 15;
	width: 277px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 11px;
	letter-spacing: 2px;
	color: #7F7F7F;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: normal;
	left: 441px;
	margin-top: 5px;
	position: relative;
}

#u10394
{
	z-index: 20;
	width: 334px;
	height: 6px;
	border-style: solid;
	border-color: #DCDAD4;
	background-color: #505050;
	left: 413px;
	margin-top: 11px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u10361-4
{
	z-index: 3;
	width: 453px;
	min-height: 69px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	letter-spacing: -1px;
	color: #46433E;
	font-size: 55px;
	text-align: center;
	font-family: playfair-display, serif;
	font-weight: 400;
	left: 354px;
	margin-top: 38px;
	position: relative;
}

#u10362-4
{
	z-index: 7;
	width: 454px;
	min-height: 23px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 12px;
	letter-spacing: 2px;
	color: #7F7F7F;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: normal;
	left: 353px;
	margin-top: 6px;
	position: relative;
}

#u10362
{
	font-size: 12px;
	font-weight: 700;
}

#pu11125-4
{
	width: 0.01px;
	left: 453px;
	margin-top: 26px;
	position: relative;
}

#u11125-4
{
	z-index: 31;
	width: 98px;
	min-height: 23px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 16px;
	letter-spacing: 2px;
	color: #7F7F7F;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
}

#u11125-4:hover
{
	border-style: solid;
	border-color: #7F7F7F;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 98px;
	margin: 0px -10000px -1px 0px;
	border-width: 0px 0px 2px;
}

#u11126-4
{
	z-index: 35;
	width: 98px;
	min-height: 23px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 16px;
	letter-spacing: 2px;
	color: #7F7F7F;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	left: 157px;
}

#u11126-4:hover
{
	border-style: solid;
	border-color: #7F7F7F;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 98px;
	margin: 0px -10000px -1px 0px;
	border-width: 0px 0px 2px;
}

#pu11129-4
{
	width: 0.01px;
	left: 373px;
	margin-top: 20px;
	position: relative;
}

#u11129-4
{
	z-index: 47;
	width: 98px;
	min-height: 23px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 16px;
	letter-spacing: 2px;
	color: #7F7F7F;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
}

#u11129-4:hover
{
	border-style: solid;
	border-color: #7F7F7F;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 98px;
	margin: 0px -10000px -1px 0px;
	border-width: 0px 0px 2px;
}

#u11128-4
{
	z-index: 43;
	width: 98px;
	min-height: 23px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 16px;
	letter-spacing: 2px;
	color: #7F7F7F;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	left: 157px;
}

#u11128-4:hover
{
	border-style: solid;
	border-color: #7F7F7F;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 98px;
	margin: 0px -10000px -1px 0px;
	border-width: 0px 0px 2px;
}

#u11127-4
{
	z-index: 39;
	width: 98px;
	min-height: 23px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 16px;
	letter-spacing: 2px;
	color: #7F7F7F;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	left: 315px;
}

#u11127-4:hover
{
	border-style: solid;
	border-color: #7F7F7F;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 98px;
	margin: 0px -10000px -1px 0px;
	border-width: 0px 0px 2px;
}

#u11125-4:active,#u11126-4:active,#u11129-4:active,#u11128-4:active,#u11127-4:active
{
	border-style: solid;
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 98px;
	margin: 0px -10000px -1px 0px;
	border-width: 0px 0px 1px;
}

#u11123
{
	z-index: 29;
	width: 334px;
	height: 6px;
	border-style: solid;
	border-color: #DCDAD4;
	background-color: #505050;
	left: 413px;
	margin-top: 108px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u11121-4
{
	z-index: 21;
	width: 259px;
	min-height: 69px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	letter-spacing: -1px;
	color: #46433E;
	font-size: 40px;
	text-align: center;
	font-family: playfair-display, serif;
	font-weight: 400;
	left: 450px;
	margin-top: 12px;
	position: relative;
}

#u11122-4
{
	z-index: 25;
	width: 277px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 26px;
	letter-spacing: 2px;
	color: #7F7F7F;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: normal;
	left: 441px;
	margin-top: 5px;
	position: relative;
}

#u10392,#u11125,#u11126,#u11129,#u11128,#u11127,#u11122
{
	font-weight: 700;
}

#u11124
{
	z-index: 30;
	width: 334px;
	height: 6px;
	border-style: solid;
	border-color: #DCDAD4;
	background-color: #505050;
	left: 413px;
	margin-top: 11px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u10356-bw
{
	z-index: 2;
	min-height: 1398px;
}

body
{
	position: relative;
	min-width: 962px;
}

#page .verticalspacer
{
	clear: both;
}

