.heading2,.heading1
{
	font-family: open-sans-n3, sans-serif;
}

.bodytext2,.bodytext1
{
	font-family: open-sans-n4, sans-serif;
}

.bodytext
{
	font-family: droid-sans-n4, sans-serif;
}

#u10899-4
{
	font-family: playfair-display-n4, serif;
}

#widgetu10843.frm-sub-st #u10873-4 p,#u10873-4
{
	font-family: open-sans-n6, sans-serif;
}

#u10850-4
{
	font-family: open-sans-n4, sans-serif;
}

#u10854-4
{
	font-family: open-sans-n4, sans-serif;
}

#u10857-4
{
	font-family: open-sans-n4, sans-serif;
}

#u10847-4
{
	font-family: open-sans-n4, sans-serif;
}

#u10900-2,#u10901-4
{
	font-family: lato-n4, sans-serif;
}

