.heading2,.heading1
{
	font-family: open-sans-n3, sans-serif;
}

.bodytext2,.bodytext1
{
	font-family: open-sans-n4, sans-serif;
}

.bodytext
{
	font-family: droid-sans-n4, sans-serif;
}

.para1,.para2,.para3,.para4
{
	font-family: baumans-n4, sans-serif;
}

#u2839-4,#u6902-4
{
	font-family: baumans-n4, sans-serif;
}

#u6911-4
{
	font-family: baumans-n4, sans-serif;
}

#u14449-4
{
	font-family: baumans-n4, sans-serif;
}

#u14455-4
{
	font-family: baumans-n4, sans-serif;
}

#u5680-4,#u5681-4
{
	font-family: baumans-n4, sans-serif;
}

#u12116-4
{
	font-family: playfair-display-n4, serif;
}

#widgetu12119.frm-sub-st #u12194-4 p,#u12194-4
{
	font-family: open-sans-n6, sans-serif;
}

#u12206-4
{
	font-family: open-sans-n4, sans-serif;
}

#u12204-4
{
	font-family: open-sans-n4, sans-serif;
}

#u13865-4
{
	font-family: open-sans-n4, sans-serif;
}

#u13868-4
{
	font-family: open-sans-n4, sans-serif;
}

#u13871-4
{
	font-family: open-sans-n4, sans-serif;
}

#u13874-4
{
	font-family: open-sans-n4, sans-serif;
}

#u12118-4,#u12117-4,#u12209-4,#u12210-4,#u12212-4,#u12213-4,#u13875-4
{
	font-family: lato-n4, sans-serif;
}

