.heading2,.heading1
{
	font-family: open-sans-n3, sans-serif;
}

.bodytext2,.bodytext1
{
	font-family: open-sans-n4, sans-serif;
}

.bodytext
{
	font-family: droid-sans-n4, sans-serif;
}

.para1,.para2,.para3,.para4
{
	font-family: baumans-n4, sans-serif;
}

#widgetu6954.frm-sub-st #u6955-4 p,#u6955-4
{
	font-family: open-sans-n6, sans-serif;
}

#u7078-4
{
	font-family: open-sans-n4, sans-serif;
}

#u7100-4
{
	font-family: open-sans-n4, sans-serif;
}

#u7103-4
{
	font-family: open-sans-n4, sans-serif;
}

#u7120-4
{
	font-family: open-sans-n4, sans-serif;
}

#u7123-4
{
	font-family: open-sans-n4, sans-serif;
}

#u7140-4
{
	font-family: open-sans-n4, sans-serif;
}

#u7144-4
{
	font-family: open-sans-n4, sans-serif;
}

#u7157-4
{
	font-family: open-sans-n4, sans-serif;
}

#u7159-4
{
	font-family: open-sans-n4, sans-serif;
}

#u7176-4
{
	font-family: open-sans-n4, sans-serif;
}

#u7179-4
{
	font-family: open-sans-n4, sans-serif;
}

#u7183-4
{
	font-family: open-sans-n4, sans-serif;
}

#u7186-4
{
	font-family: open-sans-n4, sans-serif;
}

#u7189-4
{
	font-family: open-sans-n4, sans-serif;
}

#u7193-4
{
	font-family: open-sans-n4, sans-serif;
}

#u7027-4,#u7542-2,#u7542-3,#u7589-4
{
	font-family: playfair-display-n4, serif;
}

