#u2818
{
	border-color: #000000;
	background: #FFFFFF url("../images/mountains.jpg") no-repeat center center;
	background-size: cover;
}

#u5126
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-color: #000000;
	background-color: #505050;
	position: relative;
}

#u2837_img
{
	display: block;
	vertical-align: top;
}

#u2839-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 38px;
	text-align: left;
	font-family: baumans, sans-serif;
	font-weight: 400;
	position: relative;
}

#menuu6899
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u6900,#u6901
{
	background-color: transparent;
	position: relative;
}

#u6901:hover
{
	border-style: solid;
	border-color: #FFFFFF;
	border-width: 0px 1px;
}

#u6901:active
{
	border-style: solid;
	border-color: #000000;
	border-width: 0px 1px;
}

#u6902-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 17px;
	text-align: center;
	font-family: baumans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u6901:active #u6902-4 p
{
	color: #000000;
	visibility: inherit;
}

#u6907,#u6910
{
	background-color: transparent;
	position: relative;
}

#u6910:hover
{
	border-style: solid;
	border-color: #FFFFFF;
	border-width: 0px 1px;
}

#u6910:active
{
	border-style: solid;
	border-color: #000000;
	border-width: 0px 1px;
}

#u6911-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 17px;
	text-align: center;
	font-family: baumans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u6910:active #u6911-4 p
{
	color: #000000;
	visibility: inherit;
}

#u14445,#u14448
{
	background-color: transparent;
	position: relative;
}

#u14448:hover
{
	border-style: solid;
	border-color: #FFFFFF;
	border-width: 0px 1px;
}

#u14448:active
{
	border-style: solid;
	border-color: #000000;
	border-width: 0px 1px;
}

#u14449-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 17px;
	text-align: center;
	font-family: baumans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u14448:active #u14449-4 p
{
	color: #000000;
	visibility: inherit;
}

#u14452,#u14453
{
	background-color: transparent;
	position: relative;
}

#u14453:hover
{
	border-style: solid;
	border-color: #FFFFFF;
	border-width: 0px 1px;
}

#u14453:active
{
	border-style: solid;
	border-color: #000000;
	border-width: 0px 1px;
}

#u6901.MuseMenuActive,#u6910.MuseMenuActive,#u14448.MuseMenuActive,#u14453.MuseMenuActive
{
	border-style: solid;
	border-color: #7F7F7F;
	border-width: 0px 1px;
}

#u14455-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 17px;
	text-align: center;
	font-family: baumans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u6901.MuseMenuActive #u6902-4,#u6910.MuseMenuActive #u6911-4,#u14448.MuseMenuActive #u14449-4,#u14453.MuseMenuActive #u14455-4
{
	border-style: none;
	border-color: transparent;
}

#u14453:active #u14455-4 p
{
	color: #000000;
	visibility: inherit;
}

#u6901.MuseMenuActive #u6902-4 p,#u6910.MuseMenuActive #u6911-4 p,#u14448.MuseMenuActive #u14449-4 p,#u14453.MuseMenuActive #u14455-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u2836
{
	border-color: #000000;
	background-color: #505050;
	position: relative;
}

#u2817
{
	border-color: #000000;
	background-color: #505050;
}

#u2818_align_to_page,#u2837,#u2817_align_to_page
{
	position: relative;
}

#u5680-4,#u5681-4
{
	background-color: transparent;
	font-family: baumans, sans-serif;
	font-weight: 400;
	position: relative;
}

