.version.schedule /* version checker */
{
	color: #000006;
	background-color: #967DDC;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1033px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -6px;
	width: 0.01px;
}

#u2818_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u2818_position_content
{
	margin-bottom: -2px;
	padding-top: 51px;
}

#u5126
{
	z-index: 5;
	width: 960px;
	left: 100px;
}

#u2837
{
	z-index: 10;
	margin-bottom: -11px;
	width: 141px;
	margin-right: -10000px;
	margin-top: -23px;
	left: -38px;
}

#u2839-4
{
	z-index: 6;
	width: 168px;
	min-height: 46px;
	margin-right: -10000px;
	left: 102px;
}

#menuu6899
{
	z-index: 20;
	width: 595px;
	margin-right: -10000px;
	left: 365px;
}

#u6900
{
	width: 147px;
	min-height: 46px;
	margin-right: -10000px;
}

#u6901
{
	width: 147px;
	padding-bottom: 26px;
}

#u6901:hover
{
	width: 146px;
	min-height: 0px;
	margin: 0px -1px 0px 0px;
}

#u6901:active
{
	width: 146px;
	min-height: 0px;
	margin: 0px -1px 0px 0px;
}

#u6902-4
{
	width: 147px;
	min-height: 20px;
	margin-right: -10000px;
	top: 15px;
}

#u6901:hover #u6902-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u6901:active #u6902-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u6907
{
	width: 147px;
	min-height: 46px;
	margin-right: -10000px;
	left: 149px;
}

#u6910
{
	width: 147px;
	padding-bottom: 26px;
}

#u6901.MuseMenuActive,#u6910:hover
{
	width: 146px;
	min-height: 0px;
	margin: 0px -1px 0px 0px;
}

#u6910:active
{
	width: 146px;
	min-height: 0px;
	margin: 0px -1px 0px 0px;
}

#u6911-4
{
	width: 147px;
	min-height: 20px;
	margin-right: -10000px;
	top: 15px;
}

#u6901.MuseMenuActive #u6902-4,#u6910:hover #u6911-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u6910:active #u6911-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u14445
{
	width: 147px;
	min-height: 46px;
	margin-right: -10000px;
	left: 298px;
}

#u14448
{
	width: 147px;
	padding-bottom: 26px;
}

#u6910.MuseMenuActive,#u14448:hover
{
	width: 146px;
	min-height: 0px;
	margin: 0px -1px 0px 0px;
}

#u14448:active
{
	width: 146px;
	min-height: 0px;
	margin: 0px -1px 0px 0px;
}

#u14448.MuseMenuActive
{
	width: 146px;
	min-height: 0px;
	margin: 0px -1px 0px 0px;
}

#u14449-4
{
	width: 147px;
	min-height: 20px;
	margin-right: -10000px;
	top: 15px;
}

#u6910.MuseMenuActive #u6911-4,#u14448:hover #u14449-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u14448:active #u14449-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u14448.MuseMenuActive #u14449-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u14452
{
	width: 148px;
	min-height: 46px;
	margin-right: -10000px;
	left: 447px;
}

#u14453
{
	width: 148px;
	padding-bottom: 26px;
}

#u14453:hover
{
	width: 147px;
	min-height: 0px;
	margin: 0px -1px 0px 0px;
}

#u14453:active
{
	width: 147px;
	min-height: 0px;
	margin: 0px -1px 0px 0px;
}

#u14453.MuseMenuActive
{
	width: 147px;
	min-height: 0px;
	margin: 0px -1px 0px 0px;
}

#u14455-4
{
	width: 148px;
	min-height: 20px;
	margin-right: -10000px;
	top: 15px;
}

#u14453:hover #u14455-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 148px;
	margin: 0px -10000px 0px 0px;
}

#u14453:active #u14455-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 148px;
	margin: 0px -10000px 0px 0px;
}

#u14453.MuseMenuActive #u14455-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 148px;
	margin: 0px -10000px 0px 0px;
}

#u2836
{
	z-index: 4;
	width: 960px;
	height: 12px;
	left: 100px;
	margin-top: 152px;
}

#u2818,#u2818-bw
{
	z-index: 3;
	min-height: 260px;
}

#u14576
{
	z-index: 45;
	width: 202px;
	min-height: 154px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 131px;
	margin-top: 70px;
	position: relative;
}

#u2817
{
	z-index: 2;
	min-height: 183.60000000000014px;
	padding-bottom: 0px;
}

#u2817_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 16px;
	padding-bottom: 50px;
}

#u5680-4
{
	z-index: 12;
	width: 154px;
	min-height: 39px;
	left: 177px;
}

#u5681-4
{
	z-index: 16;
	width: 635px;
	min-height: 78px;
	left: 177px;
}

#u2817-bw
{
	z-index: 2;
	min-height: 183.60000000000014px;
	margin-top: 371px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

