.version.application_confirmation /* version checker */
{
	color: #0000EE;
	background-color: #EBCB03;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #EEEEEE;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	margin-bottom: -234px;
	width: 0.01px;
}

#pu5564
{
	width: 0.01px;
}

#u5564
{
	z-index: 27;
	min-height: 111.50000000000009px;
	padding: 32px 31px 49.499999999999915px;
}

#u5569-4
{
	z-index: 30;
	width: 168px;
	min-height: 49px;
	margin-left: 144px;
}

#u5568
{
	z-index: 29;
	width: 318px;
	margin-top: 15px;
}

#menuu6915
{
	z-index: 36;
	width: 318px;
	margin-right: -10000px;
}

#u6916
{
	width: 77px;
	min-height: 47px;
	padding-right: 1px;
	margin-right: -10000px;
}

#u6919
{
	width: 77px;
	padding-bottom: 28px;
}

#u6919:hover
{
	width: 76px;
	min-height: 0px;
	margin: 0px -1px 0px 0px;
}

#u6919:active
{
	width: 76px;
	min-height: 0px;
	margin: 0px -1px 0px 0px;
}

#u6919.MuseMenuActive
{
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u6922-4
{
	width: 76px;
	min-height: 19px;
	margin-right: -10000px;
	top: 16px;
	left: 1px;
}

#u6919:hover #u6922-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u6919:active #u6922-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u6919.MuseMenuActive #u6922-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u6923
{
	width: 78px;
	min-height: 47px;
	margin-right: -10000px;
	left: 80px;
}

#u6924
{
	width: 78px;
	padding-bottom: 28px;
}

#u6924:hover
{
	width: 77px;
	min-height: 0px;
	margin: 0px -1px 0px 0px;
}

#u6924:active
{
	width: 77px;
	min-height: 0px;
	margin: 0px -1px 0px 0px;
}

#u6927-4
{
	width: 78px;
	min-height: 19px;
	margin-right: -10000px;
	top: 16px;
}

#u6924:hover #u6927-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u6924:active #u6927-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u14501
{
	width: 78px;
	min-height: 47px;
	margin-right: -10000px;
	left: 160px;
}

#u14502
{
	width: 78px;
	padding-bottom: 28px;
}

#u14502:hover
{
	width: 77px;
	min-height: 0px;
	margin: 0px -1px 0px 0px;
}

#u14502:active
{
	width: 77px;
	min-height: 0px;
	margin: 0px -1px 0px 0px;
}

#u14503-4
{
	width: 78px;
	min-height: 19px;
	margin-right: -10000px;
	top: 16px;
}

#u6924.MuseMenuActive #u6927-4,#u14502:hover #u14503-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u14502:active #u14503-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u14508
{
	width: 78px;
	min-height: 47px;
	margin-right: -10000px;
	left: 240px;
}

#u14509
{
	width: 78px;
	padding-bottom: 28px;
}

#u14509:hover
{
	width: 77px;
	min-height: 0px;
	margin: 0px -1px 0px 0px;
}

#u14509:active
{
	width: 77px;
	min-height: 0px;
	margin: 0px -1px 0px 0px;
}

#u6924.MuseMenuActive,#u14502.MuseMenuActive,#u14509.MuseMenuActive
{
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u14511-4
{
	width: 78px;
	min-height: 19px;
	margin-right: -10000px;
	top: 16px;
}

#u14502.MuseMenuActive #u14503-4,#u14509:hover #u14511-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u14509:active #u14511-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u14509.MuseMenuActive #u14511-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u5564-bw
{
	z-index: 27;
	min-height: 111.50000000000009px;
}

#u5585
{
	z-index: 34;
	width: 123px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 58px;
}

#u5567
{
	z-index: 28;
	height: 12px;
}

#u5567-bw
{
	z-index: 28;
	margin-top: -6px;
	margin-bottom: -6px;
	height: 12px;
}

#u7313
{
	z-index: 2;
	min-height: 332px;
	border-color: #000000;
	padding: 86px 21px 183px 25px;
	background: #FFFFFF url("../../images/tile_bg.jpg") repeat left top;
}

#u7316
{
	z-index: 12;
	width: 334px;
	height: 6px;
	border-style: solid;
	border-color: #DCDAD4;
	background-color: #505050;
	position: relative;
	border-width: 1px 0px 0px;
}

#u7314-4
{
	z-index: 3;
	width: 259px;
	min-height: 69px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	letter-spacing: -1px;
	color: #46433E;
	font-size: 40px;
	text-align: center;
	font-family: playfair-display, serif;
	font-weight: 400;
	margin-left: 38px;
	margin-top: 12px;
	position: relative;
}

#u7315-5
{
	z-index: 7;
	width: 277px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 29px;
	margin-top: 5px;
	position: relative;
}

#u7315-2
{
	font-size: 11px;
	text-align: center;
	letter-spacing: 2px;
	color: #7F7F7F;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u7315
{
	font-weight: 700;
}

#u7317
{
	z-index: 13;
	width: 334px;
	height: 6px;
	border-style: solid;
	border-color: #DCDAD4;
	background-color: #505050;
	margin-top: 11px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u7318-4
{
	z-index: 14;
	width: 259px;
	min-height: 69px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	letter-spacing: -1px;
	color: #46433E;
	font-size: 31px;
	text-align: center;
	font-family: playfair-display, serif;
	font-weight: 400;
	margin-left: 38px;
	margin-top: 26px;
	position: relative;
}

#u7313-bw
{
	z-index: 2;
	min-height: 332px;
	margin-top: -3px;
	margin-bottom: -3px;
}

#u3747
{
	z-index: 18;
	min-height: 207.60000000000014px;
	padding: 20px 40px 7.399999999999864px;
}

#u3748-4
{
	z-index: 19;
	width: 154px;
	min-height: 39px;
}

#u3749-4
{
	z-index: 23;
	width: 300px;
	min-height: 149px;
}

#u3747-bw
{
	z-index: 18;
	min-height: 207.60000000000014px;
	margin-top: -1px;
	margin-bottom: -1px;
}

body
{
	position: relative;
	min-width: 380px;
	padding-bottom: 234px;
}

#page .verticalspacer
{
	clear: both;
}

