.version.delay /* version checker */
{
	color: #0000F7;
	background-color: #1424E7;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u12554
{
	z-index: 2;
	height: 765px;
	border-color: #000000;
	background: #FFFFFF url("../../images/tile_bg.jpg") repeat left top;
}

#u12554-bw
{
	z-index: 2;
	height: 765px;
}

#widgetu12555
{
	z-index: 3;
	width: 0.01px;
	height: 486px;
	position: relative;
	margin-right: -10000px;
	margin-top: 243px;
	left: 15px;
}

#widgetu12584
{
	z-index: 4;
	width: 352px;
	height: 37px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#widgetu12584:hover
{
	background-color: transparent;
	width: 352px;
	height: 37px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#widgetu12584.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 352px;
	height: 37px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u12585-4
{
	z-index: 5;
	width: 330px;
	min-height: 15px;
	border-width: 1px;
	border-style: solid;
	border-color: #EAEAEA;
	background-color: #FFFFFF;
	padding: 10px;
	color: #7F7F7F;
	line-height: 1;
	font-size: 12px;
	letter-spacing: 2px;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#widgetu12584.non-empty-st #u12585-4
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
}

#widgetu12584:hover #u12585-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #3D3D3D;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 15px;
	width: 330px;
	margin: 0px -10000px 0px 0px;
}

#widgetu12584.focus-st #u12585-4
{
	border-style: none;
	border-color: #6B6B6B;
	background-color: #3D3D3D;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 15px;
	width: 330px;
	margin: 1px -9999px 1px 1px;
}

#widgetu12584.non-empty-st #u12585-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12584:hover #u12585-4 *
{
	color: #FFFFFF;
	font-style: normal;
}

#widgetu12584.focus-st #u12585-4 *
{
	color: #FFFFFF;
	font-style: normal;
}

#u12557-4
{
	z-index: 9;
	width: 280px;
	min-height: 26px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 373px;
	left: 35px;
}

#widgetu12555.frm-sub-st #u12557-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 30px;
}

#widgetu12555.frm-sub-st #u12557-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	font-style: normal;
}

#u12556-4
{
	z-index: 13;
	width: 280px;
	min-height: 26px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 456px;
	left: 35px;
}

#u12570-4
{
	z-index: 17;
	width: 280px;
	min-height: 26px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #00FF00;
	line-height: 1;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 416px;
	left: 35px;
}

#u12571-17
{
	z-index: 21;
	min-height: 54px;
	width: 301px;
	position: relative;
	margin-right: -10000px;
	margin-top: 312px;
	left: 25px;
	background: url("../../images/u12571-17.png") no-repeat 0px 0px;
}

#u12571-17:hover
{
	background: url("../../images/u12571-17-r.png") no-repeat 0px 0px;
}

#u12571-17:active
{
	background: url("../../images/u12571-17-m.png") no-repeat 0px 0px;
}

#widgetu12555.frm-sub-st #u12571-17
{
	background: url("../../images/u12571-17-fs.png") no-repeat 0px 0px;
}

#widgetu12576
{
	z-index: 38;
	width: 352px;
	height: 37px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 135px;
	left: -1px;
}

#widgetu12576.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 352px;
	height: 37px;
	min-height: 0px;
	margin: 135px -10000px 0px 0px;
}

#u12577-4
{
	z-index: 39;
	width: 330px;
	min-height: 15px;
	border-width: 1px;
	border-style: solid;
	border-color: #EAEAEA;
	background-color: #FFFFFF;
	padding: 10px;
	color: #7F7F7F;
	line-height: 1;
	font-size: 12px;
	letter-spacing: 2px;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#widgetu12576.non-empty-st #u12577-4
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
}

#widgetu12576:hover #u12577-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #3D3D3D;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 15px;
	width: 330px;
	margin: 0px -10000px 0px 0px;
}

#widgetu12576.focus-st #u12577-4
{
	border-style: none;
	border-color: #6B6B6B;
	background-color: #3D3D3D;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 15px;
	width: 330px;
	margin: 1px -9999px 1px 1px;
}

#widgetu12576.non-empty-st #u12577-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12576:hover #u12577-4 *
{
	color: #FFFFFF;
	font-style: normal;
}

#widgetu12576.focus-st #u12577-4 *
{
	color: #FFFFFF;
	font-style: normal;
}

#widgetu12558
{
	z-index: 43;
	width: 352px;
	height: 37px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: -1px;
}

#widgetu12558.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 352px;
	height: 37px;
	min-height: 0px;
	margin: 45px -10000px 0px 0px;
}

#u12561-4
{
	z-index: 44;
	width: 330px;
	min-height: 15px;
	border-width: 1px;
	border-style: solid;
	border-color: #EAEAEA;
	background-color: #FFFFFF;
	padding: 10px;
	color: #7F7F7F;
	line-height: 1;
	font-size: 12px;
	letter-spacing: 2px;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#widgetu12558.non-empty-st #u12561-4
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
}

#widgetu12558:hover #u12561-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #3D3D3D;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 15px;
	width: 330px;
	margin: 0px -10000px 0px 0px;
}

#widgetu12558.focus-st #u12561-4
{
	border-style: none;
	border-color: #6B6B6B;
	background-color: #3D3D3D;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 15px;
	width: 330px;
	margin: 1px -9999px 1px 1px;
}

#widgetu12558.non-empty-st #u12561-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12558:hover #u12561-4 *
{
	color: #FFFFFF;
	font-style: normal;
}

#widgetu12558.focus-st #u12561-4 *
{
	color: #FFFFFF;
	font-style: normal;
}

#widgetu12580
{
	z-index: 48;
	width: 352px;
	height: 37px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 180px;
	left: -1px;
}

#widgetu12580.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 352px;
	height: 37px;
	min-height: 0px;
	margin: 180px -10000px 0px 0px;
}

#u12583-4
{
	z-index: 49;
	width: 330px;
	min-height: 15px;
	border-width: 1px;
	border-style: solid;
	border-color: #EAEAEA;
	background-color: #FFFFFF;
	padding: 10px;
	color: #7F7F7F;
	line-height: 1;
	font-size: 12px;
	letter-spacing: 2px;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#widgetu12580.non-empty-st #u12583-4
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
}

#widgetu12580:hover #u12583-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #3D3D3D;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 15px;
	width: 330px;
	margin: 0px -10000px 0px 0px;
}

#widgetu12580.focus-st #u12583-4
{
	border-style: none;
	border-color: #6B6B6B;
	background-color: #3D3D3D;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 15px;
	width: 330px;
	margin: 1px -9999px 1px 1px;
}

#widgetu12580.non-empty-st #u12583-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12580:hover #u12583-4 *
{
	color: #FFFFFF;
	font-style: normal;
}

#widgetu12580.focus-st #u12583-4 *
{
	color: #FFFFFF;
	font-style: normal;
}

#widgetu12562
{
	z-index: 53;
	width: 352px;
	height: 37px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 90px;
	left: -1px;
}

#widgetu12562.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 352px;
	height: 37px;
	min-height: 0px;
	margin: 90px -10000px 0px 0px;
}

#u12565-4
{
	z-index: 54;
	width: 330px;
	min-height: 15px;
	border-width: 1px;
	border-style: solid;
	border-color: #EAEAEA;
	background-color: #FFFFFF;
	padding: 10px;
	color: #7F7F7F;
	line-height: 1;
	font-size: 12px;
	letter-spacing: 2px;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#widgetu12562.non-empty-st #u12565-4
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
}

#widgetu12562:hover #u12565-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #3D3D3D;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 15px;
	width: 330px;
	margin: 0px -10000px 0px 0px;
}

#widgetu12562.focus-st #u12565-4
{
	border-style: none;
	border-color: #6B6B6B;
	background-color: #3D3D3D;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 15px;
	width: 330px;
	margin: 1px -9999px 1px 1px;
}

#widgetu12584.fld-err-st #u12585-4,#widgetu12576.fld-err-st #u12577-4,#widgetu12558.fld-err-st #u12561-4,#widgetu12580.fld-err-st #u12583-4,#widgetu12562.fld-err-st #u12565-4
{
	border-width: 4px;
	border-style: solid;
	border-color: #6AA6A8;
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 7px;
	width: 322px;
	margin: 1px -9999px 1px 1px;
}

#widgetu12562.non-empty-st #u12565-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12562:hover #u12565-4 *
{
	color: #FFFFFF;
	font-style: normal;
}

#widgetu12562.focus-st #u12565-4 *
{
	color: #FFFFFF;
	font-style: normal;
}

#widgetu12584_input,#widgetu12584_prompt,#widgetu12576_input,#widgetu12576_prompt,#widgetu12558_input,#widgetu12558_prompt,#widgetu12580_input,#widgetu12580_prompt,#widgetu12562_input,#widgetu12562_prompt
{
	width: 330px;
	min-height: 15px;
	color: #7F7F7F;
	letter-spacing: 2px;
	font-size: 12px;
	font-weight: normal;
	padding: 10px;
}

#widgetu12572
{
	z-index: 58;
	width: 352px;
	height: 72px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 225px;
	left: -1px;
}

#widgetu12572.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 352px;
	height: 72px;
	min-height: 0px;
	margin: 225px -10000px 0px 0px;
}

#u12575-4
{
	z-index: 59;
	width: 330px;
	min-height: 50px;
	border-width: 1px;
	border-style: solid;
	border-color: #EAEAEA;
	background-color: #FFFFFF;
	padding: 10px;
	color: #7F7F7F;
	line-height: 1;
	font-size: 12px;
	letter-spacing: 2px;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#widgetu12572.non-empty-st #u12575-4
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
}

#widgetu12572:hover #u12575-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #3D3D3D;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 50px;
	width: 330px;
	margin: 0px -10000px 0px 0px;
}

#widgetu12572.focus-st #u12575-4
{
	border-style: none;
	border-color: #6B6B6B;
	background-color: #3D3D3D;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 50px;
	width: 330px;
	margin: 1px -9999px 1px 1px;
}

#widgetu12572.fld-err-st #u12575-4
{
	border-width: 4px;
	border-style: solid;
	border-color: #6AA6A8;
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 42px;
	width: 322px;
	margin: 1px -9999px 1px 1px;
}

#widgetu12572.non-empty-st #u12575-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12572:hover #u12575-4 *
{
	color: #FFFFFF;
	font-style: normal;
}

#widgetu12572.focus-st #u12575-4 *
{
	color: #FFFFFF;
	font-style: normal;
}

#widgetu12584.fld-err-st #u12585-4 *,#widgetu12576.fld-err-st #u12577-4 *,#widgetu12558.fld-err-st #u12561-4 *,#widgetu12580.fld-err-st #u12583-4 *,#widgetu12562.fld-err-st #u12565-4 *,#widgetu12572.fld-err-st #u12575-4 *
{
	color: #7BB4B7;
	font-style: italic;
}

#widgetu12572_input,#widgetu12572_prompt
{
	width: 330px;
	min-height: 50px;
	color: #7F7F7F;
	letter-spacing: 2px;
	font-size: 12px;
	font-weight: normal;
	padding: 10px;
}

#widgetu12584:hover #widgetu12584_input,#widgetu12584.focus-st #widgetu12584_input,#widgetu12584.fld-err-st #widgetu12584_input,#widgetu12584:hover #widgetu12584_prompt,#widgetu12584.focus-st #widgetu12584_prompt,#widgetu12584.fld-err-st #widgetu12584_prompt,#widgetu12576:hover #widgetu12576_input,#widgetu12576.focus-st #widgetu12576_input,#widgetu12576.fld-err-st #widgetu12576_input,#widgetu12576:hover #widgetu12576_prompt,#widgetu12576.focus-st #widgetu12576_prompt,#widgetu12576.fld-err-st #widgetu12576_prompt,#widgetu12558:hover #widgetu12558_input,#widgetu12558.focus-st #widgetu12558_input,#widgetu12558.fld-err-st #widgetu12558_input,#widgetu12558:hover #widgetu12558_prompt,#widgetu12558.focus-st #widgetu12558_prompt,#widgetu12558.fld-err-st #widgetu12558_prompt,#widgetu12580:hover #widgetu12580_input,#widgetu12580.focus-st #widgetu12580_input,#widgetu12580.fld-err-st #widgetu12580_input,#widgetu12580:hover #widgetu12580_prompt,#widgetu12580.focus-st #widgetu12580_prompt,#widgetu12580.fld-err-st #widgetu12580_prompt,#widgetu12562:hover #widgetu12562_input,#widgetu12562.focus-st #widgetu12562_input,#widgetu12562.fld-err-st #widgetu12562_input,#widgetu12562:hover #widgetu12562_prompt,#widgetu12562.focus-st #widgetu12562_prompt,#widgetu12562.fld-err-st #widgetu12562_prompt,#widgetu12572:hover #widgetu12572_input,#widgetu12572.focus-st #widgetu12572_input,#widgetu12572.fld-err-st #widgetu12572_input,#widgetu12572:hover #widgetu12572_prompt,#widgetu12572.focus-st #widgetu12572_prompt,#widgetu12572.fld-err-st #widgetu12572_prompt
{
	padding-top: 10px;
	padding-bottom: 10px;
}

#widgetu12584.non-empty-st #widgetu12584_prompt,#widgetu12576.non-empty-st #widgetu12576_prompt,#widgetu12558.non-empty-st #widgetu12558_prompt,#widgetu12580.non-empty-st #widgetu12580_prompt,#widgetu12562.non-empty-st #widgetu12562_prompt,#widgetu12572.non-empty-st #widgetu12572_prompt
{
	visibility: hidden;
}

#u12588-4
{
	z-index: 63;
	min-height: 69px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	letter-spacing: -1px;
	color: #46433E;
	font-size: 55px;
	text-align: center;
	font-family: playfair-display, serif;
	font-weight: 400;
}

#u12588-4-bw
{
	z-index: 63;
	min-height: 69px;
	margin-top: 113px;
}

#u12589-7
{
	z-index: 67;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
}

#u12589-2,#u12589-4
{
	font-size: 11px;
	letter-spacing: 2px;
	color: #7F7F7F;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u12589,#u12589-3
{
	font-weight: 700;
}

#u12589-7-bw
{
	z-index: 67;
	min-height: 33px;
	margin-top: 197px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

