.heading2,.heading1
{
	font-family: open-sans-n3, sans-serif;
}

.bodytext2,.bodytext1
{
	font-family: open-sans-n4, sans-serif;
}

.bodytext
{
	font-family: droid-sans-n4, sans-serif;
}

#widgetu12591.frm-sub-st #u12596-4 p,#u12596-4
{
	font-family: open-sans-n6, sans-serif;
}

#u12621-4
{
	font-family: open-sans-n4, sans-serif;
}

#u12625-4
{
	font-family: open-sans-n4, sans-serif;
}

#u12629-4
{
	font-family: playfair-display-n4, serif;
}

#u12630-2,#u12630-4,#u12631-4
{
	font-family: lato-n4, sans-serif;
}

