.heading2,.heading1
{
	font-family: open-sans-n3, sans-serif;
}

.bodytext2,.bodytext1
{
	font-family: open-sans-n4, sans-serif;
}

.bodytext
{
	font-family: droid-sans-n4, sans-serif;
}

#widgetu12455.frm-sub-st #u12461-4 p,#u12461-4
{
	font-family: open-sans-n6, sans-serif;
}

#u12469-4
{
	font-family: open-sans-n4, sans-serif;
}

#u12475-4
{
	font-family: open-sans-n4, sans-serif;
}

#u12473-4
{
	font-family: open-sans-n4, sans-serif;
}

#u12479-4
{
	font-family: open-sans-n4, sans-serif;
}

#u12511-4
{
	font-family: playfair-display-n4, serif;
}

#u12512-2,#u12512-4,#u12513-4
{
	font-family: lato-n4, sans-serif;
}

