.heading2,.heading1
{
	font-family: open-sans-n3, sans-serif;
}

.bodytext2,.bodytext1
{
	font-family: open-sans-n4, sans-serif;
}

.bodytext
{
	font-family: droid-sans-n4, sans-serif;
}

#u6846-2,#u10084-2,#u6850-4
{
	font-family: lato-n4, sans-serif;
}

#u6845-4,#u6849-4,#u10083-4
{
	font-family: playfair-display-n4, serif;
}

#widgetu10085.frm-sub-st #u10124-4 p,#u10124-4
{
	font-family: open-sans-n6, sans-serif;
}

#u10145-4
{
	font-family: open-sans-n4, sans-serif;
}

#u10148-4
{
	font-family: open-sans-n4, sans-serif;
}

#u10140-4
{
	font-family: open-sans-n4, sans-serif;
}

#u10150-4
{
	font-family: open-sans-n4, sans-serif;
}

#u10154-4
{
	font-family: open-sans-n4, sans-serif;
}

#u10099-4
{
	font-family: open-sans-n4, sans-serif;
}

#u10102-4
{
	font-family: open-sans-n4, sans-serif;
}

#u10108-4
{
	font-family: open-sans-n4, sans-serif;
}

#u10097-4
{
	font-family: open-sans-n4, sans-serif;
}

#u10155-4,#u10156-4
{
	font-family: lato-n4, sans-serif;
}

