.heading2,.heading1
{
	font-family: open-sans-n3, sans-serif;
}

.bodytext2,.bodytext1
{
	font-family: open-sans-n4, sans-serif;
}

.bodytext
{
	font-family: droid-sans-n4, sans-serif;
}

.para1,.para2,.para3,.para4
{
	font-family: baumans-n4, sans-serif;
}

#u5569-4,#u6922-4
{
	font-family: baumans-n4, sans-serif;
}

#u6927-4
{
	font-family: baumans-n4, sans-serif;
}

#u14503-4
{
	font-family: baumans-n4, sans-serif;
}

#u14511-4
{
	font-family: baumans-n4, sans-serif;
}

#u3748-4,#u3749-4
{
	font-family: baumans-n4, sans-serif;
}

#u12734-4
{
	font-family: playfair-display-n4, serif;
}

#widgetu12737.frm-sub-st #u12783-4 p,#u12783-4
{
	font-family: open-sans-n6, sans-serif;
}

#u12749-4
{
	font-family: open-sans-n4, sans-serif;
}

#u12744-4
{
	font-family: open-sans-n4, sans-serif;
}

#u14287-4
{
	font-family: open-sans-n4, sans-serif;
}

#u14290-4
{
	font-family: open-sans-n4, sans-serif;
}

#u14293-4
{
	font-family: open-sans-n4, sans-serif;
}

#u14297-4
{
	font-family: open-sans-n4, sans-serif;
}

#u12736-4,#u12735-4,#u12827-4,#u12828-4,#u12830-4,#u12831-4
{
	font-family: lato-n4, sans-serif;
}

