#u5564
{
	border-color: #000000;
	background: #FFFFFF url("../../images/mountains.jpg") no-repeat center center;
	background-size: cover;
}

#u5569-4
{
	background-color: transparent;
	color: #505050;
	font-size: 41px;
	text-align: left;
	font-family: baumans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u5568
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-color: #000000;
	background-color: #505050;
	position: relative;
}

#menuu6915
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u6916,#u6919
{
	background-color: transparent;
	position: relative;
}

#u6919:hover
{
	border-style: solid;
	border-color: #FFFFFF;
	border-width: 0px 1px;
}

#u6919:active
{
	border-style: solid;
	border-color: #000000;
	border-width: 0px 1px;
}

#u6922-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: baumans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u6919:active #u6922-4 p
{
	color: #000000;
	visibility: inherit;
}

#u6923,#u6924
{
	background-color: transparent;
	position: relative;
}

#u6924:hover
{
	border-style: solid;
	border-color: #FFFFFF;
	border-width: 0px 1px;
}

#u6924:active
{
	border-style: solid;
	border-color: #000000;
	border-width: 0px 1px;
}

#u6927-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: baumans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u6924:active #u6927-4 p
{
	color: #000000;
	visibility: inherit;
}

#u14501,#u14502
{
	background-color: transparent;
	position: relative;
}

#u14502:hover
{
	border-style: solid;
	border-color: #FFFFFF;
	border-width: 0px 1px;
}

#u14502:active
{
	border-style: solid;
	border-color: #000000;
	border-width: 0px 1px;
}

#u14503-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: baumans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u14502:active #u14503-4 p
{
	color: #000000;
	visibility: inherit;
}

#u14508,#u14509
{
	background-color: transparent;
	position: relative;
}

#u14509:hover
{
	border-style: solid;
	border-color: #FFFFFF;
	border-width: 0px 1px;
}

#u14509:active
{
	border-style: solid;
	border-color: #000000;
	border-width: 0px 1px;
}

#u6919.MuseMenuActive,#u6924.MuseMenuActive,#u14502.MuseMenuActive,#u14509.MuseMenuActive
{
	border-style: solid;
	border-color: #7F7F7F;
	border-width: 1px 0px 0px;
}

#u14511-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: baumans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u6919.MuseMenuActive #u6922-4,#u6924.MuseMenuActive #u6927-4,#u14502.MuseMenuActive #u14503-4,#u14509.MuseMenuActive #u14511-4
{
	border-style: none;
	border-color: transparent;
}

#u14509:active #u14511-4 p
{
	color: #000000;
	visibility: inherit;
}

#u6919.MuseMenuActive #u6922-4 p,#u6924.MuseMenuActive #u6927-4 p,#u14502.MuseMenuActive #u14503-4 p,#u14509.MuseMenuActive #u14511-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u5585
{
	position: relative;
}

#u5585_img
{
	display: block;
	vertical-align: top;
}

#u5567,#u3747
{
	border-color: #000000;
	background-color: #505050;
}

#u3748-4
{
	background-color: transparent;
	font-family: baumans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3749-4
{
	background-color: transparent;
	font-size: 14px;
	font-family: baumans, sans-serif;
	font-weight: 400;
	position: relative;
}

