.version.stop /* version checker */
{
	color: #0000F2;
	background-color: #2C2912;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u12590
{
	z-index: 2;
	height: 1453px;
	border-color: #000000;
	background: #FFFFFF url("../../images/tile_bg.jpg") repeat left top;
}

#u12590-bw
{
	z-index: 2;
	height: 1453px;
}

#widgetu12591
{
	z-index: 3;
	width: 0.01px;
	height: 554px;
	position: relative;
	margin-right: -10000px;
	margin-top: 242px;
	left: 15px;
}

#widgetu12601
{
	z-index: 4;
	width: 352px;
	height: 37px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#widgetu12601:hover
{
	background-color: transparent;
	width: 352px;
	height: 37px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#widgetu12601.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 352px;
	height: 37px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u12604-4
{
	z-index: 5;
	width: 330px;
	min-height: 15px;
	border-width: 1px;
	border-style: solid;
	border-color: #EAEAEA;
	background-color: #FFFFFF;
	padding: 10px;
	color: #7F7F7F;
	line-height: 1;
	font-size: 12px;
	letter-spacing: 2px;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#widgetu12601.non-empty-st #u12604-4
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
}

#widgetu12601:hover #u12604-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #3D3D3D;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 15px;
	width: 330px;
	margin: 0px -10000px 0px 0px;
}

#widgetu12601.focus-st #u12604-4
{
	border-style: none;
	border-color: #6B6B6B;
	background-color: #3D3D3D;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 15px;
	width: 330px;
	margin: 1px -9999px 1px 1px;
}

#widgetu12601.non-empty-st #u12604-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12601:hover #u12604-4 *
{
	color: #FFFFFF;
	font-style: normal;
}

#widgetu12601.focus-st #u12604-4 *
{
	color: #FFFFFF;
	font-style: normal;
}

#u12596-4
{
	z-index: 9;
	width: 280px;
	min-height: 26px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 441px;
	left: 36px;
}

#widgetu12591.frm-sub-st #u12596-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 30px;
}

#widgetu12591.frm-sub-st #u12596-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	font-style: normal;
}

#u12609-4
{
	z-index: 13;
	width: 280px;
	min-height: 26px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 524px;
	left: 36px;
}

#u12614-4
{
	z-index: 17;
	width: 280px;
	min-height: 26px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #00FF00;
	line-height: 1;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 484px;
	left: 36px;
}

#u12628-17
{
	z-index: 21;
	min-height: 54px;
	width: 301px;
	position: relative;
	margin-right: -10000px;
	margin-top: 379px;
	left: 26px;
	background: url("../../images/u12628-17.png") no-repeat 0px 0px;
}

#u12628-17:hover
{
	background: url("../../images/u12628-17-r.png") no-repeat 0px 0px;
}

#u12628-17:active
{
	background: url("../../images/u12628-17-m.png") no-repeat 0px 0px;
}

#widgetu12591.frm-sub-st #u12628-17
{
	background: url("../../images/u12628-17-fs.png") no-repeat 0px 0px;
}

#widgetu12592
{
	z-index: 38;
	width: 352px;
	height: 37px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 135px;
	left: -1px;
}

#widgetu12592.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 352px;
	height: 37px;
	min-height: 0px;
	margin: 135px -10000px 0px 0px;
}

#u12595-4
{
	z-index: 39;
	width: 330px;
	min-height: 15px;
	border-width: 1px;
	border-style: solid;
	border-color: #EAEAEA;
	background-color: #FFFFFF;
	padding: 10px;
	color: #7F7F7F;
	line-height: 1;
	font-size: 12px;
	letter-spacing: 2px;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#widgetu12592.non-empty-st #u12595-4
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
}

#widgetu12592:hover #u12595-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #3D3D3D;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 15px;
	width: 330px;
	margin: 0px -10000px 0px 0px;
}

#widgetu12592.focus-st #u12595-4
{
	border-style: none;
	border-color: #6B6B6B;
	background-color: #3D3D3D;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 15px;
	width: 330px;
	margin: 1px -9999px 1px 1px;
}

#widgetu12592.non-empty-st #u12595-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12592:hover #u12595-4 *
{
	color: #FFFFFF;
	font-style: normal;
}

#widgetu12592.focus-st #u12595-4 *
{
	color: #FFFFFF;
	font-style: normal;
}

#widgetu12605
{
	z-index: 43;
	width: 352px;
	height: 37px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: -1px;
}

#widgetu12605.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 352px;
	height: 37px;
	min-height: 0px;
	margin: 45px -10000px 0px 0px;
}

#u12607-4
{
	z-index: 44;
	width: 330px;
	min-height: 15px;
	border-width: 1px;
	border-style: solid;
	border-color: #EAEAEA;
	background-color: #FFFFFF;
	padding: 10px;
	color: #7F7F7F;
	line-height: 1;
	font-size: 12px;
	letter-spacing: 2px;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#widgetu12605.non-empty-st #u12607-4
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
}

#widgetu12605:hover #u12607-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #3D3D3D;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 15px;
	width: 330px;
	margin: 0px -10000px 0px 0px;
}

#widgetu12605.focus-st #u12607-4
{
	border-style: none;
	border-color: #6B6B6B;
	background-color: #3D3D3D;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 15px;
	width: 330px;
	margin: 1px -9999px 1px 1px;
}

#widgetu12605.non-empty-st #u12607-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12605:hover #u12607-4 *
{
	color: #FFFFFF;
	font-style: normal;
}

#widgetu12605.focus-st #u12607-4 *
{
	color: #FFFFFF;
	font-style: normal;
}

#widgetu12615
{
	z-index: 48;
	width: 352px;
	height: 37px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 90px;
	left: -1px;
}

#widgetu12615.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 352px;
	height: 37px;
	min-height: 0px;
	margin: 90px -10000px 0px 0px;
}

#u12616-4
{
	z-index: 49;
	width: 330px;
	min-height: 15px;
	border-width: 1px;
	border-style: solid;
	border-color: #EAEAEA;
	background-color: #FFFFFF;
	padding: 10px;
	color: #7F7F7F;
	line-height: 1;
	font-size: 12px;
	letter-spacing: 2px;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#widgetu12615.non-empty-st #u12616-4
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
}

#widgetu12615:hover #u12616-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #3D3D3D;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 15px;
	width: 330px;
	margin: 0px -10000px 0px 0px;
}

#widgetu12615.focus-st #u12616-4
{
	border-style: none;
	border-color: #6B6B6B;
	background-color: #3D3D3D;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 15px;
	width: 330px;
	margin: 1px -9999px 1px 1px;
}

#widgetu12601.fld-err-st #u12604-4,#widgetu12592.fld-err-st #u12595-4,#widgetu12605.fld-err-st #u12607-4,#widgetu12615.fld-err-st #u12616-4
{
	border-width: 4px;
	border-style: solid;
	border-color: #6AA6A8;
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 7px;
	width: 322px;
	margin: 1px -9999px 1px 1px;
}

#widgetu12615.non-empty-st #u12616-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12615:hover #u12616-4 *
{
	color: #FFFFFF;
	font-style: normal;
}

#widgetu12615.focus-st #u12616-4 *
{
	color: #FFFFFF;
	font-style: normal;
}

#widgetu12601_input,#widgetu12601_prompt,#widgetu12592_input,#widgetu12592_prompt,#widgetu12605_input,#widgetu12605_prompt,#widgetu12615_input,#widgetu12615_prompt
{
	width: 330px;
	min-height: 15px;
	color: #7F7F7F;
	letter-spacing: 2px;
	font-size: 12px;
	font-weight: normal;
	padding: 10px;
}

#widgetu12619
{
	z-index: 53;
	width: 199px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 211px;
	left: 79px;
}

#widgetu12619.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 199px;
	height: 16px;
	min-height: 0px;
	margin: 211px -10000px 0px 0px;
}

#widgetu12620
{
	z-index: 54;
	width: 97px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12621-4
{
	z-index: 55;
	width: 71px;
	min-height: 16px;
	background-color: transparent;
	color: #6B6B6B;
	line-height: 1;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 26px;
}

#widgetu12620:hover #u12621-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#widgetu12620:hover #u12621-4 p,#widgetu12620:hover #u12621-4 span
{
	color: #3D3D3D;
}

#u12622
{
	z-index: 59;
	width: 16px;
	height: 16px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12622 input.not_checked + label
{
	background: transparent url("../../images/radiobuttonunchecked.png") no-repeat center center;
	background-size: contain;
}
#u12622 input:not(:checked) + label
{
	background: transparent url("../../images/radiobuttonunchecked.png") no-repeat center center;
	background-size: contain;
}

#u12622 input.checked + label
{
	background: transparent url("../../images/radiobuttonchecked.png") no-repeat center center;
	background-size: contain;
}
#u12622 input:checked + label
{
	background: transparent url("../../images/radiobuttonchecked.png") no-repeat center center;
	background-size: contain;
}

#u12622 input.not_checked:hover + label,#widgetu12620.focus-st #u12622 input.not_checked + label
{
	width: 16px;
	height: 16px;
	min-height: 0px;
	background: transparent url("../../images/radiobuttonuncheckedrollover.png") no-repeat center center;
	background-size: contain;
}
#u12622 input:not(:checked):hover + label,#widgetu12620.focus-st #u12622 input:not(:checked) + label
{
	width: 16px;
	height: 16px;
	min-height: 0px;
	background: transparent url("../../images/radiobuttonuncheckedrollover.png") no-repeat center center;
	background-size: contain;
}

#u12622 input.checked:hover + label,#widgetu12620.focus-st #u12622 input.checked + label
{
	width: 16px;
	height: 16px;
	min-height: 0px;
	background: transparent url("../../images/radiobuttoncheckedrollover.png") no-repeat center center;
	background-size: contain;
}
#u12622 input:checked:hover + label,#widgetu12620.focus-st #u12622 input:checked + label
{
	width: 16px;
	height: 16px;
	min-height: 0px;
	background: transparent url("../../images/radiobuttoncheckedrollover.png") no-repeat center center;
	background-size: contain;
}

#widgetu12623
{
	z-index: 60;
	width: 97px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 102px;
}

#widgetu12620.fld-err-st,#widgetu12623.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 97px;
	height: 16px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u12625-4
{
	z-index: 61;
	width: 71px;
	min-height: 16px;
	background-color: transparent;
	color: #6B6B6B;
	line-height: 1;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 26px;
}

#widgetu12620.fld-err-st #u12621-4,#widgetu12623:hover #u12625-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#widgetu12623.fld-err-st #u12625-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#widgetu12623:hover #u12625-4 p,#widgetu12623:hover #u12625-4 span
{
	color: #3D3D3D;
}

#widgetu12620.fld-err-st #u12621-4 p,#widgetu12620.fld-err-st #u12621-4 span,#widgetu12623.fld-err-st #u12625-4 p,#widgetu12623.fld-err-st #u12625-4 span
{
	color: #D7244C;
}

#u12624
{
	z-index: 65;
	width: 16px;
	height: 16px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12624 input.not_checked + label
{
	background: transparent url("../../images/radiobuttonunchecked.png") no-repeat center center;
	background-size: contain;
}
#u12624 input:not(:checked) + label
{
	background: transparent url("../../images/radiobuttonunchecked.png") no-repeat center center;
	background-size: contain;
}

#u12624 input.checked + label
{
	background: transparent url("../../images/radiobuttonchecked.png") no-repeat center center;
	background-size: contain;
}
#u12624 input:checked + label
{
	background: transparent url("../../images/radiobuttonchecked.png") no-repeat center center;
	background-size: contain;
}

#u12622 input.not_checked:active + label,#u12624 input.not_checked:active + label
{
	width: 16px;
	height: 16px;
	min-height: 0px;
	background: transparent url("../../images/radiobuttonuncheckedmousedown.png") no-repeat center center;
	background-size: contain;
}
#u12622 input:not(:checked):active + label,#u12624 input:not(:checked):active + label
{
	width: 16px;
	height: 16px;
	min-height: 0px;
	background: transparent url("../../images/radiobuttonuncheckedmousedown.png") no-repeat center center;
	background-size: contain;
}

#u12622 input.checked:active + label,#u12624 input.checked:active + label
{
	width: 16px;
	height: 16px;
	min-height: 0px;
	background: transparent url("../../images/radiobuttoncheckedmousedown.png") no-repeat center center;
	background-size: contain;
}
#u12622 input:checked:active + label,#u12624 input:checked:active + label
{
	width: 16px;
	height: 16px;
	min-height: 0px;
	background: transparent url("../../images/radiobuttoncheckedmousedown.png") no-repeat center center;
	background-size: contain;
}

#u12624 input.not_checked:hover + label,#widgetu12623.focus-st #u12624 input.not_checked + label
{
	width: 16px;
	height: 16px;
	min-height: 0px;
	background: transparent url("../../images/radiobuttonuncheckedrollover.png") no-repeat center center;
	background-size: contain;
}
#u12624 input:not(:checked):hover + label,#widgetu12623.focus-st #u12624 input:not(:checked) + label
{
	width: 16px;
	height: 16px;
	min-height: 0px;
	background: transparent url("../../images/radiobuttonuncheckedrollover.png") no-repeat center center;
	background-size: contain;
}

#u12624 input.checked:hover + label,#widgetu12623.focus-st #u12624 input.checked + label
{
	width: 16px;
	height: 16px;
	min-height: 0px;
	background: transparent url("../../images/radiobuttoncheckedrollover.png") no-repeat center center;
	background-size: contain;
}
#u12624 input:checked:hover + label,#widgetu12623.focus-st #u12624 input:checked + label
{
	width: 16px;
	height: 16px;
	min-height: 0px;
	background: transparent url("../../images/radiobuttoncheckedrollover.png") no-repeat center center;
	background-size: contain;
}

#widgetu12620_input,#widgetu12623_input
{
	width: 16px;
	height: 16px;
}

#widgetu12610
{
	z-index: 66;
	width: 352px;
	height: 135px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 236px;
	left: -1px;
}

#widgetu12610.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 352px;
	height: 135px;
	min-height: 0px;
	margin: 236px -10000px 0px 0px;
}

#u12613-4
{
	z-index: 67;
	width: 330px;
	min-height: 113px;
	border-width: 1px;
	border-style: solid;
	border-color: #EAEAEA;
	background-color: #FFFFFF;
	padding: 10px;
	color: #7F7F7F;
	line-height: 1;
	font-size: 12px;
	letter-spacing: 2px;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#widgetu12610.non-empty-st #u12613-4
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
}

#widgetu12610:hover #u12613-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #3D3D3D;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 113px;
	width: 330px;
	margin: 0px -10000px 0px 0px;
}

#widgetu12610.focus-st #u12613-4
{
	border-style: none;
	border-color: #6B6B6B;
	background-color: #3D3D3D;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 113px;
	width: 330px;
	margin: 1px -9999px 1px 1px;
}

#widgetu12610.fld-err-st #u12613-4
{
	border-width: 4px;
	border-style: solid;
	border-color: #6AA6A8;
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 105px;
	width: 322px;
	margin: 1px -9999px 1px 1px;
}

#widgetu12610.non-empty-st #u12613-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12610:hover #u12613-4 *
{
	color: #FFFFFF;
	font-style: normal;
}

#widgetu12610.focus-st #u12613-4 *
{
	color: #FFFFFF;
	font-style: normal;
}

#widgetu12601.fld-err-st #u12604-4 *,#widgetu12592.fld-err-st #u12595-4 *,#widgetu12605.fld-err-st #u12607-4 *,#widgetu12615.fld-err-st #u12616-4 *,#widgetu12610.fld-err-st #u12613-4 *
{
	color: #7BB4B7;
	font-style: italic;
}

#widgetu12610_input,#widgetu12610_prompt
{
	width: 330px;
	min-height: 113px;
	color: #7F7F7F;
	letter-spacing: 2px;
	font-size: 12px;
	font-weight: normal;
	padding: 10px;
}

#widgetu12601:hover #widgetu12601_input,#widgetu12601.focus-st #widgetu12601_input,#widgetu12601.fld-err-st #widgetu12601_input,#widgetu12601:hover #widgetu12601_prompt,#widgetu12601.focus-st #widgetu12601_prompt,#widgetu12601.fld-err-st #widgetu12601_prompt,#widgetu12592:hover #widgetu12592_input,#widgetu12592.focus-st #widgetu12592_input,#widgetu12592.fld-err-st #widgetu12592_input,#widgetu12592:hover #widgetu12592_prompt,#widgetu12592.focus-st #widgetu12592_prompt,#widgetu12592.fld-err-st #widgetu12592_prompt,#widgetu12605:hover #widgetu12605_input,#widgetu12605.focus-st #widgetu12605_input,#widgetu12605.fld-err-st #widgetu12605_input,#widgetu12605:hover #widgetu12605_prompt,#widgetu12605.focus-st #widgetu12605_prompt,#widgetu12605.fld-err-st #widgetu12605_prompt,#widgetu12615:hover #widgetu12615_input,#widgetu12615.focus-st #widgetu12615_input,#widgetu12615.fld-err-st #widgetu12615_input,#widgetu12615:hover #widgetu12615_prompt,#widgetu12615.focus-st #widgetu12615_prompt,#widgetu12615.fld-err-st #widgetu12615_prompt,#widgetu12610:hover #widgetu12610_input,#widgetu12610.focus-st #widgetu12610_input,#widgetu12610.fld-err-st #widgetu12610_input,#widgetu12610:hover #widgetu12610_prompt,#widgetu12610.focus-st #widgetu12610_prompt,#widgetu12610.fld-err-st #widgetu12610_prompt
{
	padding-top: 10px;
	padding-bottom: 10px;
}

#widgetu12601.non-empty-st #widgetu12601_prompt,#widgetu12592.non-empty-st #widgetu12592_prompt,#widgetu12605.non-empty-st #widgetu12605_prompt,#widgetu12615.non-empty-st #widgetu12615_prompt,#widgetu12610.non-empty-st #widgetu12610_prompt
{
	visibility: hidden;
}

#u12629-4
{
	z-index: 71;
	min-height: 69px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	letter-spacing: -1px;
	color: #46433E;
	font-size: 55px;
	text-align: center;
	font-family: playfair-display, serif;
	font-weight: 400;
}

#u12629-4-bw
{
	z-index: 71;
	min-height: 69px;
	margin-top: 112px;
}

#u12630-7
{
	z-index: 75;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
}

#u12630-2,#u12630-4
{
	font-size: 11px;
	letter-spacing: 2px;
	color: #7F7F7F;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u12630-7-bw
{
	z-index: 75;
	min-height: 33px;
	margin-top: 196px;
}

#u12631-4
{
	z-index: 82;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 13px;
	letter-spacing: 2px;
	color: #7F7F7F;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u12630,#u12630-3,#u12631
{
	font-weight: 700;
}

#u12631-4-bw
{
	z-index: 82;
	min-height: 20px;
	margin-top: 422px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

