.version.application_confirmation /* version checker */
{
	color: #0000F7;
	background-color: #332FE4;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1024px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content,#pu6429
{
	width: 0.01px;
}

#u6429
{
	z-index: 3;
	min-height: 144px;
	padding: 16px 31px 100px 51px;
}

#pu6448
{
	width: 0.01px;
	margin-left: 136px;
	position: relative;
}

#u6448
{
	z-index: 10;
	margin-bottom: -6px;
	width: 159px;
	margin-right: -10000px;
}

#u6432-4
{
	z-index: 6;
	width: 215px;
	min-height: 55px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 153px;
}

#u6431
{
	z-index: 5;
	width: 686px;
	margin-top: 5px;
}

#menuu6931
{
	z-index: 20;
	width: 686px;
	margin-right: -10000px;
}

#u6932
{
	width: 170px;
	min-height: 47px;
	margin-right: -10000px;
}

#u6935
{
	width: 170px;
	padding-bottom: 27px;
}

#u6935:hover
{
	width: 170px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u6935:active
{
	width: 170px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u6938-4
{
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
	top: 16px;
}

#u6935:hover #u6938-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 170px;
	margin: 0px -10000px 0px 0px;
}

#u6935:active #u6938-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 170px;
	margin: 0px -10000px 0px 0px;
}

#u6939
{
	width: 170px;
	min-height: 47px;
	margin-right: -10000px;
	left: 172px;
}

#u6940
{
	width: 170px;
	padding-bottom: 27px;
}

#u6940:hover
{
	width: 170px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u6940:active
{
	width: 170px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u6943-4
{
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
	top: 16px;
}

#u6935.MuseMenuActive #u6938-4,#u6940:hover #u6943-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 170px;
	margin: 0px -10000px 0px 0px;
}

#u6940:active #u6943-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 170px;
	margin: 0px -10000px 0px 0px;
}

#u14466
{
	width: 170px;
	min-height: 47px;
	margin-right: -10000px;
	left: 344px;
}

#u14469
{
	width: 170px;
	padding-bottom: 27px;
}

#u14469:hover
{
	width: 170px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u14469:active
{
	width: 170px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u14471-4
{
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
	top: 16px;
}

#u6940.MuseMenuActive #u6943-4,#u14469:hover #u14471-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 170px;
	margin: 0px -10000px 0px 0px;
}

#u14469:active #u14471-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 170px;
	margin: 0px -10000px 0px 0px;
}

#u14459
{
	width: 170px;
	min-height: 47px;
	margin-right: -10000px;
	left: 516px;
}

#u14462
{
	width: 170px;
	padding-bottom: 27px;
}

#u14462:hover
{
	width: 170px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u14462:active
{
	width: 170px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u6935.MuseMenuActive,#u6940.MuseMenuActive,#u14469.MuseMenuActive,#u14462.MuseMenuActive
{
	width: 170px;
	min-height: 0px;
	margin: 0px;
}

#u14465-4
{
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
	top: 16px;
}

#u14469.MuseMenuActive #u14471-4,#u14462:hover #u14465-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 170px;
	margin: 0px -10000px 0px 0px;
}

#u14462:active #u14465-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 170px;
	margin: 0px -10000px 0px 0px;
}

#u14462.MuseMenuActive #u14465-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 170px;
	margin: 0px -10000px 0px 0px;
}

#u6429-bw
{
	z-index: 3;
	min-height: 144px;
}

#u6430
{
	z-index: 4;
	height: 12px;
}

#u6430-bw
{
	z-index: 4;
	margin-top: 250px;
	height: 12px;
}

#u7307
{
	z-index: 45;
	min-height: 332px;
	border-color: #000000;
	padding: 86px 217px 183px 216px;
	background: #FFFFFF url("../../images/tile_bg.jpg") repeat left top;
}

#u7310
{
	z-index: 55;
	width: 334px;
	height: 6px;
	border-style: solid;
	border-color: #DCDAD4;
	background-color: #505050;
	margin-left: 1px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u7308-4
{
	z-index: 46;
	width: 259px;
	min-height: 69px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	letter-spacing: -1px;
	color: #46433E;
	font-size: 40px;
	text-align: center;
	font-family: playfair-display, serif;
	font-weight: 400;
	margin-left: 38px;
	margin-top: 12px;
	position: relative;
}

#u7309-5
{
	z-index: 50;
	width: 277px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 29px;
	margin-top: 5px;
	position: relative;
}

#u7309-2
{
	font-size: 11px;
	text-align: center;
	letter-spacing: 2px;
	color: #7F7F7F;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u7309
{
	font-weight: 700;
}

#u7311
{
	z-index: 56;
	width: 334px;
	height: 6px;
	border-style: solid;
	border-color: #DCDAD4;
	background-color: #505050;
	margin-top: 11px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u7312-4
{
	z-index: 57;
	width: 259px;
	min-height: 69px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	letter-spacing: -1px;
	color: #46433E;
	font-size: 31px;
	text-align: center;
	font-family: playfair-display, serif;
	font-weight: 400;
	margin-left: 38px;
	margin-top: 26px;
	position: relative;
}

#u7307-bw
{
	z-index: 45;
	min-height: 332px;
	margin-top: -2px;
	margin-bottom: -2px;
}

#u6428
{
	z-index: 2;
	min-height: 122.60000000000025px;
	padding: 17px 66px 44.39999999999975px 67px;
}

#u6450-4
{
	z-index: 12;
	width: 154px;
	min-height: 39px;
	left: -1px;
}

#u6451-4
{
	z-index: 16;
	width: 635px;
	min-height: 78px;
	left: -1px;
}

#u6428-bw
{
	z-index: 2;
	min-height: 122.60000000000025px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

