.heading2,.heading1
{
	font-family: open-sans-n3, sans-serif;
}

.bodytext2,.bodytext1
{
	font-family: open-sans-n4, sans-serif;
}

.bodytext
{
	font-family: droid-sans-n4, sans-serif;
}

#u11968-4
{
	font-family: playfair-display-n4, serif;
}

#widgetu11930.frm-sub-st #u11959-4 p,#u11959-4
{
	font-family: open-sans-n6, sans-serif;
}

#u11936-4
{
	font-family: open-sans-n4, sans-serif;
}

#u11933-4
{
	font-family: open-sans-n4, sans-serif;
}

#u11969-2,#u11970-4
{
	font-family: lato-n4, sans-serif;
}

