.heading2,.heading1
{
	font-family: open-sans-n3, sans-serif;
}

.bodytext2,.bodytext1
{
	font-family: open-sans-n4, sans-serif;
}

.bodytext
{
	font-family: droid-sans-n4, sans-serif;
}

.para1,.para2,.para3,.para4
{
	font-family: baumans-n4, sans-serif;
}

#u6432-4,#u6938-4
{
	font-family: baumans-n4, sans-serif;
}

#u6943-4
{
	font-family: baumans-n4, sans-serif;
}

#u14471-4
{
	font-family: baumans-n4, sans-serif;
}

#u14465-4
{
	font-family: baumans-n4, sans-serif;
}

#u6450-4,#u6451-4
{
	font-family: baumans-n4, sans-serif;
}

#u13904-4
{
	font-family: playfair-display-n4, serif;
}

#widgetu13907.frm-sub-st #u13923-4 p,#u13923-4
{
	font-family: open-sans-n6, sans-serif;
}

#u13939-4
{
	font-family: open-sans-n4, sans-serif;
}

#u13944-4
{
	font-family: open-sans-n4, sans-serif;
}

#u13921-4
{
	font-family: open-sans-n4, sans-serif;
}

#u13918-4
{
	font-family: open-sans-n4, sans-serif;
}

#u13915-4
{
	font-family: open-sans-n4, sans-serif;
}

#u13911-4
{
	font-family: open-sans-n4, sans-serif;
}

#u13906-4,#u13905-4,#u14036-4,#u14037-4,#u14039-4,#u14040-4,#u14043-4
{
	font-family: lato-n4, sans-serif;
}

