.version.master_load_board /* version checker */
{
	color: #0000F0;
	background-color: #9051C4;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1024px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u14239
{
	z-index: 2;
	min-height: 96px;
	border-color: #000000;
	padding-bottom: 3212px;
	background: #FFFFFF url("../../images/tile_bg.jpg") repeat left top;
}

#u14347
{
	z-index: 4;
	width: 183px;
	min-height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #565656;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 293px;
}

#u14239-bw
{
	z-index: 2;
	min-height: 96px;
}

#u14345
{
	z-index: 3;
	min-height: 3133px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u14345-bw
{
	z-index: 3;
	min-height: 3133px;
	margin-top: 167px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

